Repository Team-BNUY/gamelab_project_bunny, pull requests merged in 2022-03, with the labels that each got.

#57 53 [Code][Network] Network the AI
  Project Bunny/Assets/Animations/Controllers/StudentAC.controller
  Project Bunny/Assets/Plugins/Photon/PhotonUnityNetworking/Resources/PhotonServerSettings.asset
  Project Bunny/Assets/Prefabs/TestPrefabs/Student.prefab
  Project Bunny/Assets/Prefabs/TestPrefabs/Teacher.prefab
  Project Bunny/Assets/Scenes/Networking/4-Arena.meta
  Project Bunny/Assets/Scenes/Networking/4-Arena.unity
  Project Bunny/Assets/Scenes/Networking/4-Arena/NavMesh.asset
  Project Bunny/Assets/Scenes/Networking/4-Arena/NavMesh.asset.meta
  Project Bunny/Assets/Scenes/Playgrounds/AIPlayground.unity
  Project Bunny/Assets/Scripts/AI/Actions/StudentActions/AnimationAction.cs
  Project Bunny/Assets/Scripts/AI/Actions/TeacherActions/Investigate.cs
  Project Bunny/Assets/Scripts/AI/Agents/Student.cs
  Project Bunny/Assets/Scripts/AI/Agents/Teacher.cs
  Project Bunny/Assets/Scripts/AI/Core/Agent.cs
  Project Bunny/Assets/Scripts/Networking/ArenaManager.cs
  Project Bunny/Assets/Scripts/Networking/RoomManager.cs
  Project Bunny/ProjectSettings/ProjectSettings.asset
Labels: coding, networking, AI

#59 [Code] [Network] Timer and Return to Room
  Project Bunny/Assets/Scenes/Networking/4-Arena.unity
  Project Bunny/Assets/Scripts/Networking/ArenaManager.cs
Labels: coding, networking

#73 [Code] [Networking] Scoring and Player Spawn
  Project Bunny/Assets/Plugins/Photon/PhotonUnityNetworking/Resources/PhotonServerSettings.asset
  Project Bunny/Assets/Prefabs/PhotonTeamsManager.prefab
  Project Bunny/Assets/Prefabs/PhotonTeamsManager.prefab.meta
  Project Bunny/Assets/Resources/NetworkPlayerTest.prefab
  Project Bunny/Assets/Resources/ScoreManager.prefab
  Project Bunny/Assets/Resources/ScoreManager.prefab.meta
  Project Bunny/Assets/Scenes/Networking/2-Lobby.unity
  Project Bunny/Assets/Scenes/Networking/3-Room.unity
  Project Bunny/Assets/Scenes/Networking/4-Arena.unity
  Project Bunny/Assets/Scripts/DontDestroyOnLoad.cs
  Project Bunny/Assets/Scripts/DontDestroyOnLoad.cs.meta
  Project Bunny/Assets/Scripts/Networking/ArenaManager.cs
  Project Bunny/Assets/Scripts/Networking/LobbyManager.cs
  Project Bunny/Assets/Scripts/Networking/RoomManager.cs
  Project Bunny/Assets/Scripts/Player/NetworkSnowball.cs
  Project Bunny/Assets/Scripts/Player/NetworkStudentController.cs
  Project Bunny/Assets/Scripts/ScoreManager.cs
  Project Bunny/Assets/Scripts/ScoreManager.cs.meta
Labels: coding, networking

#75 74 BugFix: Fix Gang error when starting a second round
  Project Bunny/Assets/Scenes/Networking/4-Arena.unity
  Project Bunny/Assets/Scripts/AI/Actions/StudentActions/AnimationAction.cs
  Project Bunny/Assets/Scripts/AI/Actions/StudentActions/Cry.cs
  Project Bunny/Assets/Scripts/AI/Actions/StudentActions/JoinAnotherGang.cs
  Project Bunny/Assets/Scripts/AI/Agents/Student.cs
  Project Bunny/Assets/Scripts/AI/Gang.cs
  Project Bunny/Assets/Scripts/Networking/ArenaManager.cs
Labels: coding, AI
